<div class="jumbotron text-center text-light">
  <h1 *ngIf="localUser" class="display-4">{{ title | uppercase }}</h1>
  <form (submit)="onHandleSubmit(registerForm)" #registerForm="ngForm">
    <div class="card-body">
      <div class="form-group">
        <label for="Amount">Amount</label>
        <input id="Amount" name="Amount" type="number" class="form-control" placeholder="Please Enter Amount...." [class.is-invalid]="Amount.invalid && Amount.touched" ngModel #name="ngModel" required>
        <small class="text-danger" [class.d-none]="Amount.valid || Amount.untouched">Please Enter Net Amount.</small>
      </div>
      
    </div> 
      <button [disabled]="registerForm.invalid" id="btn-register" type="submit" class="btn btn-light btn-lg" >Generate Payable Bill</button>

  </form>
</div>
